<template>
    <div>
<Header></Header>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
					<h4 class="page-title">All Orders</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a href="#">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a href="#">All Orders</a>
						</li>
					</ul>
				</div>

                <v-client-table 
                    :data="orders"
                    :columns="columns" 
                    :options="options">
                    <p slot="OrderDate" slot-scope="props" style="overflow: auto; white-space: nowrap;">{{props.row.OrderDate}}</p>
                    <a slot="SellerOrderNumber" slot-scope="props" :href="axios.defaults.path+'?order_id='+props.row.SellerOrderNumber" class="glyphicon glyphicon-eye-open">{{props.row.SellerOrderNumber}}</a>
                    <p slot="OrderResourseName">NewEgg</p>
                    <p slot="total" slot-scope="props">{{props.row.order_item.OrderedQty*props.row.order_item.UnitPrice}}</p>
                </v-client-table>
                
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.themekita.com">
                                ThemeKita
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright ml-auto">
                    2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
                </div>
            </div>
        </footer>
    </div>
    </div>
</template>

<script>
    import Header from './Static/Header';
    import Loading from 'vue-loading-overlay';
	import 'vue-loading-overlay/dist/vue-loading.css';
	import JQuery from 'jquery';
	let $ = JQuery;
    import axios from 'axios';
    // axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
    export default {
        components: {
            Header,
            Loading
        },
        orders: {},
        created() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/');
			}
			else{
				app.getOrders();
				// app.getResults();
			}

        },
        mounted() {
			let app = this;
            app.getOrders();
        },
        data() {
            return {
                orders: [],
                columns: ['OrderDate', 'OrderResourseName', 'SellerOrderNumber', 'id', 'order_item.Description', 'order_item.OrderedQty', 'order_item.UnitPrice', 'total'],
                
                options: {
                    headings: {
                        OrderDate: 'Order Date',
                        OrderResourseName: 'Marketplace',
                        SellerOrderNumber: 'SO Number',
                        id: 'Order Id',
                        'order_item.Description': 'Item Title',
                        'order_item.OrderedQty': 'Quantity',
                        'order_item.UnitPrice': 'Unit Price',
                        total: 'Total Price',
                    },
                    sortable: ['Order Date', 'SellerOrderNumber'],
                    filterable: ['OrderDate', 'OrderResourseName', 'SellerOrderNumber', 'id', 'order_item.Description', 'order_item.OrderedQty', 'order_item.UnitPrice', 'total']
                }
            }
        },

        methods: {

            getOrders(){
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                // event.preventDefault();
                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/getallorders',
                    headers: headers
                }).then(function (response) {
                    app.orders = response.data.orders;                        
					console.log(app.orders);
					app.isLoading = false;
                    }).catch(function(error){
                        console.log(error);
                    })
            },
        }
    };
</script>