<template>
    <div>
<Header></Header>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
					<h4 class="page-title">Customers</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a href="#">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a href="#">Customers</a>
						</li>
					</ul>
				</div>
                    <v-client-table 
                        :data="customers"
                        :columns="columns" 
                        :options="options">
                    </v-client-table>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.themekita.com">
                                ThemeKita
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright ml-auto">
                    2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
                </div>
            </div>
        </footer>
    </div>
    </div>
</template>

<script>
    import Header from './Static/Header';
    import Loading from 'vue-loading-overlay';
	import 'vue-loading-overlay/dist/vue-loading.css';
    import JQuery from 'jquery';

	let $ = JQuery;
    import axios from 'axios';
    // axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
    export default {
        components: {
            Header,
            Loading
        },
        created() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/');
			}
			else{
				 app.getCustomers();
				// app.getResults();
			}

        },
        
        data() {
            return {
            columns: ['CustomerName', 'CustomerEmailAddress', 'CustomerPhoneNumber', 'ShipToAddress1', 'ShipToAddress2', 'ShipToCityName', 'ShipToStateCode', 'ShipToZipCode'],
            customers: [],
            options: {
                headings: {
                    // CustomerName: 'Customer Name',
                    CustomerEmailAddress: 'Customer Email Address',
                    CustomerPhoneNumber: 'Customer Phone',
                    ShipToAddress1: 'Address 1',
                    ShipToAddress2: 'Address 2',
                    ShipToCityName: 'City',
                    ShipToStateCode: 'State',
                    ShipToZipCode: 'Zip Code'
                },
               sortable: [],
                filterable: ['CustomerName', 'CustomerEmailAddress', 'CustomerPhoneNumber', 'ShipToAddress1', 'ShipToAddress2', 'ShipToCityName', 'ShipToStateCode', 'ShipToZipCode']
            }
        }
        },

        mounted() {
            this.getCustomers();
        },

        methods: {

            getCustomers(){
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                // event.preventDefault();
                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/customers',
                    headers: headers
                }).then(function (response) {
                    app.customers = response.data.customers;                        
					console.log(app.customers);
					// app.isLoading = false;
                    }).catch(function(error){
                        console.log(error);
                    })
            },
        }
    };
</script>