<template>
    <div>
<Header></Header>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
					<h4 class="page-title">Fee</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a href="#">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a href="#">Fee</a>
						</li>
					</ul>
				</div>


                <loading :active.sync="isLoading" :color="color" :is-full-page="fullPage"></loading>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Fee</h4>
                                    <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addFee">
                                        <i class="fa fa-plus"></i>
                                        Add Fee
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">

                                <!-- Fee Add Modal -->
                                <div class="modal fade addFee" :class="{ in: modalShown }" id="addFee" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header no-bd">
                                                <h5 class="modal-title">
                                                    <span class="fw-mediumbold">
                                                    Add User</span> 
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form autocomplete="off" @submit.prevent="addFee" v-if="!success">
                                            <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group form-group-default">
                                                                <label>Category</label>
                                                                <input id="category" type="text" v-model="category" class="form-control" placeholder="Category" required>
                                                            </div>
                                                            <div class="form-group form-group-default">
                                                                <label>Fee</label>
                                                                <input id="fee" type="text" v-model="fee" class="form-control" placeholder="Fee" required>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="modal-footer no-bd">
                                                <button type="submit" id="addUserRowButton" class="btn btn-primary">Update</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Fee Delete Modal -->
                                <div class="modal fade deleteFee" :class="{ in: modalShown }" id="deleteFee" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header no-bd">
                                                <h5 class="modal-title">
                                                    <span class="fw-mediumbold">
                                                    Confirmation</span> 
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form autocomplete="off" @submit.prevent="deleteFee" v-if="!success">
                                            <div class="modal-body" style="display: none;">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group form-group-default">
                                                                <input id="userId" type="hidden" name="userId" class="form-control" v-model="deleteId">
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="modal-footer no-bd">
                                                <button type="submit" id="deleteButton" class="btn btn-primary">Delete</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Edit Profile -->
                                <div class="modal fade editFee" :class="{ in: modalShown }" id="editFee" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header no-bd">
                                                <h5 class="modal-title">
                                                    <span class="fw-mediumbold">
                                                    Add User</span> 
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form autocomplete="off" @submit.prevent="editFee" v-if="!success">
                                            <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group form-group-default">
                                                                <input id="userId" type="hidden" name="userId" class="form-control" v-model="id">
                                                                <label>Category</label>
                                                                <input id="category" type="text" v-model="idcategory" class="form-control" placeholder="Category" required>
                                                            </div>
                                                            <div class="form-group form-group-default">
                                                                <label>Fee</label>
                                                                <input id="fee" type="text" v-model="idfee" class="form-control" placeholder="Fee" required>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="modal-footer no-bd">
                                                <button type="submit" id="addUserRowButton" class="btn btn-primary">Update</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table id="add-row" class="display table table-striped table-hover" >
                                        <thead>
                                            <tr>
                                                <th>Category</th>
                                                <th>Fee</th>
                                                <th>Actions</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Category</th>
                                                <th>Fee</th>
                                                <th>Actions</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr v-for="fee in fees.data">
                                                <td>{{fee.Category}}</td>
                                                <td>{{fee.fee}}</td>
                                                <td>
                                                    <div class="form-button-action">
                                                        <button class="btn btn-link btn-primary mybtn" id="editFee" data-toggle="modal" v-on:click="jq(fee.id); getFeeById(fee.id);" :data-id="fee.id" data-target="#editFee" title="Edit Fee">
                                                            <i class="far fa-edit"></i>
                                                        </button>
                                                        
                                                        <button type="button" data-toggle="modal" title="Delete" :data-id="fee.id" v-on:click="jqDel(fee.id)" id="deleteFee" data-target="#deleteFee" class="btn btn-link btn-danger btn-lg" data-original-title="Delete">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <!-- <div class="dataTables_info" id="add-row_info" role="status" aria-live="polite">Showing 1 to 5 of 10 entries
                                    </div> -->
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="add-row_paginate">
                                        <pagination :data="fees" @pagination-change-page="getResults"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.themekita.com">
                                ThemeKita
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright ml-auto">
                    2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
                </div>
            </div>
        </footer>
    </div>
    </div>
</template>

<script>
    import Header from './Static/Header';
    import Loading from 'vue-loading-overlay';
	import 'vue-loading-overlay/dist/vue-loading.css';
	import JQuery from 'jquery';
	let $ = JQuery;
    import axios from 'axios';
    // axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
    export default {
        components: {
            Header,
            Loading
        },
        created() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/');
			}
			else{
				app.getFees();
				// app.getResults();
			}

        },
        mounted() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/');
			}
			else{
				// app.getResults();
			}
        },
        data() {
            return {
                fees: {},

                category: '',
                fee: '',
                id: '',
                idcategory: '',
                idfee: '',
                deleteId: '',
				color: "#1269db",
				isLoading: true,
				fullPage: true,
				modalShown: false,
                error: false,
                success: false,
            }
        },

        methods: {
            
            getResults(page = 1) {
				let app = this;
				var headers = {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				axios({
					method: 'get',
					url: axios.defaults.baseURL+'admin/fees?page='+page,
					headers: headers
				}).then(function (response) {
					app.fees = response.data.fees;                      
					// console.log(response);
					app.isLoading = false;
					}).catch(function(error){
                        console.log(error);
                    })
			},

            getFees(){
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                // event.preventDefault();
                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/fees',
                    headers: headers
                }).then(function (response) {
					console.log(response);
					app.fees = response.data.fees;                        
					app.isLoading = false;
                    }).catch(function(error){
                        console.log(error);
                    })
            },

            addFee(){
                let app = this;
                var del_id = localStorage.getItem('delete_id');
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                event.preventDefault();
                axios({
                    data: {
                        category: app.category,
                        fee: app.fee,
                        },

                    method: 'post',
                    url: axios.defaults.baseURL+'admin/add/fee',
                    headers: headers,
                }).then(function (response) {
                    app.modalShown = true;
                    $("div.modal-backdrop").remove();
					console.log(response.data);
                    // app.users = response.data.users;  
                    app.getFees();                      
					app.isLoading = false;
                    })
            },

            jqDel: function(id) {

				localStorage.setItem('delete_id', id);
				// alert(id);
				var local_id = localStorage.getItem('delete_id');
				this.deleteId = local_id;
				this.modalShown = false;

			},
            
            deleteFee(event){
                let app = this;
                var del_id = localStorage.getItem('delete_id');
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/delete/fee/'+del_id,
                    headers: headers
                }).then(function (response) {
                    app.modalShown = true;
                    $("div.modal-backdrop").remove();
					console.log(response.data.data);
                    // app.users = response.data.users;  
                    app.getFees();                      
					app.isLoading = false;
                    })
            },

            jq: function(id) {

				localStorage.setItem('user_id', id);
                var local_id = localStorage.getItem('user_id');
                alert(local_id);
				this.id = local_id;
				// this.password = '';
				this.modalShown = false;

            },

            getFeeById(id){
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/get/fee/'+id,
                    headers: headers
                }).then(function (response) {
                    console.log(response.data.fees);
                    app.idcategory = response.data.fees.Category;
                    app.idfee = response.data.fees.fee;
                    // app.idrole = response.data.user.role.id;
                    // app.users = response.data.users;  
                    app.getFees();                      
					// app.isLoading = false;
                    })
            },

            editFee(){
                let app = this;
				app.isLoading = true;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                event.preventDefault();
                axios({
                    data: {
                        id: app.id,
                        category: app.idcategory,
                        fee: app.idfee
                    },

                    method: 'post',
                    url: axios.defaults.baseURL+'admin/edit/fee',
                    headers: headers,

                }).then(function(data){
					// console.log('Password updated');
					try {
						app.modalShown = true;
						$("div.modal-backdrop").remove();
                        $("body").removeClass('modal-open');
						app.getFees();
						app.isLoading = false;

					} catch (error) {
						console.log(error);
					}

                }).catch(function (response) {
					
					console.log('catch');
						
				});
            }
        }
    };
</script>