<template>
    <div class="container">
        <div id="login-row" class="row justify-content-center align-items-center">
            <div id="login-column" class="col-md-6">
                <div class="box">
                    <div class="shape1"></div>
                    <div class="shape2"></div>
                    <div class="shape3"></div>
                    <div class="shape4"></div>
                    <div class="shape5"></div>
                    <div class="shape6"></div>
                    <div class="shape7"></div>
                    <div class="float">
                        <form class="form" @submit.prevent="login" v-if="!success" autocomplete="off">
                            <div class="form-group">
                                <label for="username" class="text-white">Email:</label><br>
                                <input type="email" v-model="email" name="email" id="username" class="form-control" placeholder="Enter Your Email Address Here">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-white">Password:</label><br>
                                <input type="password" v-model="password" name="password" id="password" class="form-control" placeholder="Enter Your Password Here">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<style>
    .box {
        width: 500px;
        margin: 200px 0;
    }

    .shape1{
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #0074d9;
        border-radius: 80px;
        float: left;
        margin-right: -50px;
    }
    .shape2 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #0074d9;
        border-radius: 80px;
        margin-top: -30px;
        float: left;
    }
    .shape3 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #0074d9;
        border-radius: 80px;
        margin-top: -30px;
        float: left;
        margin-left: -31px;
    }
    .shape4 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #0074d9;
        border-radius: 80px;
        margin-top: -25px;
        float: left;
        margin-left: -32px;
    }
    .shape5 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #0074d9;
        border-radius: 80px;
        float: left;
        margin-right: -48px;
        margin-left: -32px;
        margin-top: -30px;
    }
    .shape6 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #0074d9;
        border-radius: 80px;
        float: left;
        margin-right: -20px;
        margin-top: -35px;
    }
    .shape7 {
        position: relative;
        height: 150px;
        width: 150px;
        background-color: #0074d9;
        border-radius: 80px;
        float: left;
        margin-right: -20px;
        margin-top: -57px;
    }
    .float {
        position: absolute;
        z-index: 2;
    }

    .form {
        margin-left: 145px;
    }
</style>
<script>
    import axios from 'axios';

    export default {
        data() {
            return {
                email: '',
                password: '',
                error: false,
                success: false,
            }
        },
        methods: {
            login() {
                let app = this;
                // let self = this;

                event.preventDefault();
                axios({
                    data: {
                        email: app.email,
                        password: app.password
                    },
                    method: 'post',
                    url: axios.defaults.baseURL+'auth/login',
                    config: {headers: {'Content-Type': 'multipart/form-data'}}
                })
                    .then(function (data) {
                        console.log(data);
                        //
                        //handle success
                        localStorage.setItem('id', data.data.user.id);
                        localStorage.setItem('role_id', data.data.user.role_id);
                        localStorage.setItem('name', data.data.user.name);
                        localStorage.setItem('email', data.data.user.email);
                        localStorage.setItem('token', data.data.token);

                        // console.log(localStorage.getItem("token"));
                        console.log(localStorage);
                        
                        //console.log(data.data.token);

                        //console.log("done");
                        app.$router.push({ path: '/index' })
                    })
                    .catch(function (response) {
                        //handle error
                        iziToast.show({
                            title: "Error",
                            message: "Invalid Credentials",
                            backgroundColor: '#f54242',
                            color: '#FFFFFF',
                            progressBar: true,
                            icon: 'fa fa-exclamation-circle',
                            iconColor: '#FFFFFF',
                            position: 'topCenter',
                            titleColor: '#FFFFFF',
                            messageColor: '#FFFFFF',
                            showIco: true,
                        });
                    });
            }
        }
    }
</script>