<template>
    <div>
    <Header></Header>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
					<h4 class="page-title">Order Detail</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a href="#">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a href="#">Order Detail</a>
						</li>
					</ul>
				</div>

                <button class="btn btn-primary" v-on:click='print()'>Print</button>

                    <div class="col-md-12" id="print_div">
                        <div class="card" v-for="order in orders">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Order Detail</h4>
                                </div>
                            </div>
                            <div class="card-body">
                                <h3>Order</h3>
                                <div class="row row-demo-grid">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">SO: {{order.SellerOrderNumber}}</div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">Date: {{order.OrderDate}}</div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">Order Id: {{order.id}}</div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">Order Status: {{order.OrderStatusDescription}}</div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <h3>Payment</h3>
                                <div class="row row-demo-grid">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">Marketplace:</div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">Payment Method:</div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">Transaction Id:</div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">Customer Name:</div>
                                    </div>
                                </div>
                                <div class="row row-demo-grid">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">Email:</div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <h3>Address</h3>
                                <div class="row row-demo-grid">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">First Name: {{order.ShipToFirstName}}</div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">Last Name: {{order.ShipToLastName}}</div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">Ship Address 1: {{order.ShipToAddress1}}</div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">Ship Address 2: {{order.ShipToAddress2}}</div>
                                    </div>
                                </div>
                                <div class="row row-demo-grid">
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">City: {{order.ShipToCityName}}</div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">State: {{order.ShipToStateCode}}</div>
                                    </div>
                                    <div class="col-sm-6 col-md-3">
                                        <div class="card-body">Zip Code: {{order.ShipToZipCode}}</div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <h3>Item Details</h3>
                                <div class="row row-demo-grid">
                                    <div class="col-sm">
                                        <div class="card-body">SKU:</div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="card-body">Item Name: <a style="color: #000000;text-decoration: none;" v-if="order.channel == 'B2C'" target="_blank" :href="'https://www.newegg.com/p/'+order.NeweggItemNumber" rel="noopener noreferrer">{{order.order_item.Description}}</a>
                                        <a style="color: #000000;text-decoration: none;" v-else target="_blank" :href="'https://www.neweggbusiness.com/product/product.aspx?item='+order.NeweggItemNumber" rel="noopener noreferrer">{{order.order_item.Description}}</a>
                                        </div>
                                    </div>
                                    <div class="col-sm">
                                        <div class="card-body">Quantity: {{order.order_item.OrderedQty}}</div>
                                    </div>
                                </div>
                                <br>
                                <br>
                                <div class="card col-md-5 pull-right">
                                    <div class="card-body text-center">
                                        <div class="row row-demo-grid">
                                            <div class="col">
                                                <div class="card-body">Unit Price:</div>
                                                <div class="card-body">Sales Tax:</div>
                                                <div class="card-body">Total Sales:</div>
                                                <div class="card-body">Fees:</div>
                                            </div>
                                            <div class="col">
                                                <div class="card-body">{{order.order_item.UnitPrice}}</div>
                                                <div class="card-body">0</div>
                                                <div class="card-body">{{order.OrderTotalAmount}}</div>
                                                <div class="card-body">{{Number(order.payment_fees)+Number(order.resource_fees)}}</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            </div>

                        </div>
                    </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.themekita.com">
                                ThemeKita
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright ml-auto">
                    2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
                </div>
            </div>
        </footer>
    </div>
    </div>
</template>

<script>
    import Header from './Static/Header';
    import Loading from 'vue-loading-overlay';
	import 'vue-loading-overlay/dist/vue-loading.css';
	import JQuery from 'jquery';
	let $ = JQuery;
    import axios from 'axios';
    // axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
    export default {
        components: {
            Header,
            Loading
        },

        created() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/');
			}
			else{
                app.getOrder(app.$route.query.order_id);
                console.log(app.$route.query.order_id); 
				// app.getResults();
			}

        },

        data(){
            return{
                orders: {},
                total: '',
            }
        },

        methods: {
            getOrder(id){
                let app = this;
				var headers = {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				axios({
					method: 'get',
					url: axios.defaults.baseURL+'admin/get/order/'+id,
					headers: headers
				}).then(function (response) {
                    app.orders = response.data.order;   
                    console.log(app.orders);
                    let sum = 0;
                    app.orders.forEach(function(order) {
                        sum += (parseFloat(order.order_item.UnitPrice) * parseFloat(order.order_item.OrderedQty));
                    });
                    app.total = sum;
                    // console.log(sum);
					}).catch(function(error){
                        console.log(error);
                    })
            },
            
            print(){
                //Hide all other elements other than printarea.
                $("#print_div").show();
                window.print();
                
            }
        }

    };
</script>