<template>
    <div>
<Header></Header>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
					<h4 class="page-title">Products</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a href="#">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a href="#">Products</a>
						</li>
					</ul>
				</div>
                    <v-client-table 
                        :data="products"
                        :columns="columns" 
                        :options="options">

                        <a v-if="props.row.channel == 'B2C'" style="color: #000000;text-decoration: none;" slot="Description" slot-scope="props" target="_blank" :href="'https://www.newegg.com/p/'+props.row.NeweggItemNumber" class="glyphicon glyphicon-eye-open">{{props.row.Description}}</a>
                        <a v-else slot="Description" style="color: #000000;text-decoration: none;" slot-scope="props" target="_blank" :href="'https://www.neweggbusiness.com/product/product.aspx?item='+props.row.NeweggItemNumber" class="glyphicon glyphicon-eye-open">{{props.row.Description}}</a>
                    </v-client-table>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.themekita.com">
                                ThemeKita
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright ml-auto">
                    2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
                </div>
            </div>
        </footer>
    </div>
    </div>
</template>

<script>
    import Header from './Static/Header';
    import Loading from 'vue-loading-overlay';
	import 'vue-loading-overlay/dist/vue-loading.css';
    import JQuery from 'jquery';

	let $ = JQuery;
    import axios from 'axios';
    // axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
    export default {
        components: {
            Header,
            Loading
        },
        created() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/');
			}
			else{
				 app.getProducts();
				// app.getResults();
			}

        },
        
        data() {
            return {
            columns: ['SellerPartNumber', 'Description', 'NeweggItemNumber'],
            products: [],
            options: {
                headings: {
                    SellerPartNumber: 'SKU',
                    Description: 'Description',
                    NeweggItemNumber: 'Item Number',
                },
                sortable: ['SellerPartNumber', 'Description', 'NeweggItemNumber'],
                filterable: ['SellerPartNumber', 'Description', 'NeweggItemNumber'],
                // filterByColumn: true,
                Description: [{
                    text: 'new',
                    hide: false
                },
                ]

            }
        }
        },

        mounted() {
            this.getProducts();
        },

        methods: {

            getProducts(){
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                // event.preventDefault();
                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/products',
                    headers: headers
                }).then(function (response) {
                    app.products = response.data.products;                        
					console.log(app.products);
					// app.isLoading = false;
                    }).catch(function(error){
                        console.log(error);
                    })
            },
        }
    };
</script>