<template>
    <div>
    <Header></Header>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
					<h4 class="page-title">New Orders</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a href="#">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a href="#">All Orders</a>
						</li>
					</ul>
				</div>


                <loading :active.sync="isLoading" :color="color" :is-full-page="fullPage"></loading>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Orders</h4>
                                    <div class="col-sm-1">
                                    <select  v-model="selected" @change='changePages()' class="form-control">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <!-- <select class="form-control" id="order" v-model='order_status' @change='getStatusOrders()'>
                                    <option v-for='state in status' :value='state.id'>{{state.status}}</option>
                                </select> -->

                                <div class="table-responsive">
                                    <table id="add-row" class="display table table-striped table-hover" >
                                        <thead>
                                            <tr>
                                                <th>Order Date</th>
                                                <!-- <th>SO Number</th> -->
                                                <th>Martketplace</th>
                                                <th>Order ID</th>
                                                <th>Customer Name</th>
                                                <th>Item Title</th>
                                                <th>Quantity</th>
                                                <th>Unit Price</th>
                                                <th>Total Sale</th>
                                                <th>Resourse Fees</th>
                                                <th>Payment Fees</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="order in orders.data" v-bind:id="order.id">
                                                <td class="orderdate" style="overflow: auto; white-space: nowrap;">{{order.OrderDate}}</td>
                                                <!-- <td><p>-</p></td> -->
                                                <td>NewEgg</td>
                                                <td>{{order.id}}</td>
                                                
                                                <td>{{order.CustomerName}}</td>
                                                <td><div style="line-height: 2; padding-bottom: 20px;">{{order.order_item.Description}}</div></td>
                                                <td>{{order.order_item.OrderedQty}}</td>
                                                <td>{{order.order_item.UnitPrice}}</td>
                                                <td>{{order.order_item.OrderedQty*order.order_item.UnitPrice}}</td>
                                                <td>
                                                <div class="row">
                                                <input style="width:50px" type="number" :id="'text-'+order.id" v-model.number="order.resource_fees" @blur="resourseSet(order.id)">
                                                <select  :id="'order-'+order.id">
													<option value="$">$</option>
													<option value="%">%</option>
												</select>
                                                </div>
                                                </td>
                                                <td>
                                                <div class="row">
                                                <input style="width:50px" type="number" :id="'p-text-'+order.id" v-model.number="order.payment_fees" @blur="paymentSet(order.id)">
                                                <select :id="'p-order-'+order.id">
													<option value="$">$</option>
													<option value="%">%</option>
												</select>
                                                </div>
                                                </td>
                                                <td>
                                                    <!-- {{order.order_status.status}} -->
                                                    <div class="form-button-action">
                                                        <a href="#" @click="changeStatus(order.id)">Change Status</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <!-- <div class="dataTables_info" id="add-row_info" role="status" aria-live="polite">Showing 1 to 5 of 10 entries
                                    </div> -->
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="add-row_paginate">
                                        <pagination :data="orders" @pagination-change-page="getResults"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.themekita.com">
                                ThemeKita
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright ml-auto">
                    2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
                </div>
            </div>
        </footer>
    </div>
    </div>
</template>

<script>
    import Header from './Static/Header';
    import Loading from 'vue-loading-overlay';
	import 'vue-loading-overlay/dist/vue-loading.css';
	import JQuery from 'jquery';
	let $ = JQuery;
    import axios from 'axios';
    // axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
    export default {
        components: {
            Header,
            Loading
        },
        orders: {},
        created() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/');
			}
			else{
                app.getStatusOrders();
			}

        },
        mounted() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/');
			}
			else{
                app.getStatusOrders();
                app.getResults();
                app.getStatusDropdown();
                app.getStatus();
			}
        },
        data() {
            return {
                order_id:'',
                orders: {},
                status: {},
                ddstatus: {},
                resourse_set: '',
                payment_set: '',
                resourse_text: '',
                selected: '10',

                order_status: '',
				color: "#1269db",
				isLoading: true,
				fullPage: true,
				modalShown: false,
                error: false,
                success: false,
            }
        },

        methods: {
            
            getResults(page = 1) {
				let app = this;
				var headers = {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				axios({
                    data: {
                        // order_status_id: app.order_status,
                        no: app.selected
                    },

					method: 'post',
					url: axios.defaults.baseURL+'admin/ordersbydate?page='+page,
					headers: headers
				}).then(function (response) {
                    app.orders = response.data.orders;                     
					// console.log(response);
					app.isLoading = false;
					}).catch(function(error){
                        console.log(error);
                    })
            },
            

            getStatusOrders() {
                var app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                axios({
                    data: {
                        // order_status_id: app.order_status,
                        no: app.selected
                    },

                    method: 'post',
                    url: axios.defaults.baseURL+'admin/ordersbydate',
                    headers: headers,

                }).then(function(data){
                    // $.ajax
                        ({
                        type: "GET",
                        url: "http://127.0.0.1:8000/api/admin/status",
                        dataType: 'json',
                        headers: {
                            "Authorization": "Bearer " + localStorage.getItem("token")
                        },
                        
                        success: function (response){
                            console.log(response);
                        }
                        });
                    console.log(data.data.orders);
                    app.orders = data.data.orders;
                    // $("#text-"+id).val();
                    app.isLoading = false;
                }).catch(function (error) {
                        console.log(error);
                    });
            },

            changeStatus(order_id){
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                };

                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/update/orderstatus/'+order_id,
                    headers: headers
                })
                .then(function (response) {
                // console.log(response);
                //location.reload();
                $("tr#"+order_id).remove();
                app.status = response.data.status;
                // console.log(app.status);
                })
                .catch(function(error) {
                    console.log('an error occured ' + error);
                });
            },

            getStatus() {
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                };

                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/get/status',
                    headers: headers
                })
                .then(function (response) {
                app.status = response.data.status;
                // console.log(app.status);
                })
                .catch(function(error) {
                    console.log('an error occured ' + error);
                });
            },
            getStatusDropdown() {

                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                };

                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/get/dd-status',
                    headers: headers
                })
                .then(function (response) {
                app.ddstatus = response.data.status;
                console.log(app.ddstatus);
                })
                .catch(function(error) {
                    console.log('an error occured ' + error);
                });
            },

            statusUpdate(order_id, status_id){
                //console.log(status_id);
                $("#287879419").val(status_id);
                //console.log(event);
                // console.log(order_id+' '+status_id);

                let app = this;
				var headers = {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				axios({
                    data: {
                        id: order_id,
                        order_status_id: status_id,
                    },

					method: 'post',
					url: axios.defaults.baseURL+'admin/edit/order/status',
					headers: headers
				}).then(function (response) {

                    app.orders = response;                      
                    // console.log(app.orders);
                    // app.selected = status_id;
                    app.getResults();
					app.isLoading = false;
					}).catch(function(error){
                        console.log(error);
                })
            },

            resourseSet(id){
                // console.log(id);
                var selectedValue = $("#text-"+id).val();
                var selectedUnit=$("#order-"+id).val();
                // console.log(selectedCountry);
                console.log(selectedValue+selectedUnit);
                // var amount = selectedValue+selectedUnit;

                let app = this;
				var headers = {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				axios({
                    data: {
                        id: id,
                        resource_fees: selectedValue,
                        resource_fees_unit: selectedUnit
                    },

					method: 'post',
					url: axios.defaults.baseURL+'admin/update/resourcefee',
					headers: headers
				}).then(function (response) {
                    
                    app.resourse_set = response;                      
                    console.log(app.resourse_set);
                    // app.selected = status_id;
                    app.getResults();
                    app.isLoading = false;
                    //app.resourse_text=amount;
					}).catch(function(error){
                        console.log(error);
                })

            },

            paymentSet(id){
                // console.log(id);
                var selectedValue = $("#p-text-"+id).val();
                var selectedUnit = $("#p-order-"+id).val();
                // console.log(selectedCountry);
                console.log(selectedValue+selectedUnit);
                // var amount = selectedValue+selectedUnit;

                let app = this;
				var headers = {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				axios({
                    data: {
                        id: id,
                        payment_fees: selectedValue,
                        payment_fees_unit: selectedUnit
                    },

					method: 'post',
					url: axios.defaults.baseURL+'admin/update/paymentfee',
					headers: headers
				}).then(function (response) {

                    app.payment_set = response;                      
                    console.log(app.payment_set);
                    // app.selected = status_id;
                    app.getResults();
					app.isLoading = false;
					}).catch(function(error){
                        console.log(error);
                })

            },

            changePages(){
                let app = this;
                app.getResults();
            }
        }
    };
</script>
