<template>
    <div>
    <Header></Header>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
					<h4 class="page-title">Unprocessed Orders</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a href="#">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a href="#">Unprocessed Orders</a>
						</li>
					</ul>
				</div>


                <loading :active.sync="isLoading" :color="color" :is-full-page="fullPage"></loading>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Orders</h4>
                                    <div class="col-sm-1">
                                    <select  v-model="selected" @change='changePages()' class="form-control">
                                        <option value="10">10</option>
                                        <option value="25">25</option>
                                        <option value="50">50</option>
                                        <option value="100">100</option>
                                    </select>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <!-- <select class="form-control" id="order" v-model='order_status' @change='getStatusOrders()'>
                                    <option v-for='state in status' :value='state.id'>{{state.status}}</option>
                                </select> -->

                                <div class="table-responsive">
                                    <table id="add-row" class="display table table-striped table-hover" >
                                        <thead>
                                            <tr>
                                                <th>PO Date</th>
                                                <!-- <th>SO Number</th> -->
                                                <th>Resource Name</th>
                                                <th>PO No</th>
                                                <th>Item Title</th>
                                                <th>Earning</th>
                                                <th>Purchase Price</th>
                                                <th>Profit</th>
                                                <th>Note</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr v-for="order in orders.data" v-bind:id="order.id">
                                                <td class="orderdate" style="overflow: auto; white-space: nowrap;">{{order.updated_date}}</td>
                                                <!-- <td><p>-</p></td> -->
                                                <td>NewEgg</td>
                                                <td>{{order.CustomerPONumber}}</td>
                                                <td><div style="line-height: 1.5; padding-bottom: 20px;">{{order.order_item.Description}}</div></td>
                                                <td>{{order.earning}}</td>
                                                
                                                <td><input type="number" :id="'p-text-'+order.id" v-model.number="order.purchase_price" @blur="purchaseSet(order.id)"></td>
                                                <!-- <td></td> -->
                                                <td>{{order.profit}}</td>
                                                <td><textarea cols="15" rows="5" :id="'p-textarea-'+order.id" v-model="order.note" @blur="noteSet(order.id)"></textarea></td>
                                                <td>
                                                    <div class="form-button-action">
                                                        <a href="#" @click="changeStatus(order.id)">Change Status</a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <!-- <div class="dataTables_info" id="add-row_info" role="status" aria-live="polite">Showing 1 to 5 of 10 entries
                                    </div> -->
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="add-row_paginate">
                                        <pagination :data="orders" @pagination-change-page="getResults"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.themekita.com">
                                ThemeKita
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright ml-auto">
                    2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
                </div>
            </div>
        </footer>
    </div>
    </div>
</template>

<script>
    import Header from './Static/Header';
    import Loading from 'vue-loading-overlay';
	import 'vue-loading-overlay/dist/vue-loading.css';
	import JQuery from 'jquery';
	let $ = JQuery;
    import axios from 'axios';
    // axios.defaults.headers.common['Access-Control-Allow-Origin'] = '*';
    export default {
        components: {
            Header,
            Loading
        },
        orders: {},
        created() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/');
			}
			else{
                // app.getStatusOrders();
			}

        },
        mounted() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/');
			}
			else{
                // app.getStatusOrders();
                app.getResults();
                // app.getOrders();
                // app.getStatusDropdown();
                // app.getStatus();
			}
        },
        data() {
            return {
                order_id:'',
                po_profit: '',
                po_note: '',
                orders: {},
                purchase_price: '',
                note: '',
                status: '',

                selected: '10',

				color: "#1269db",
				isLoading: true,
				fullPage: true,
				modalShown: false,
                error: false,
                success: false,
            }
        },

        methods: {
            
            getResults(page = 1) {
				let app = this;
				var headers = {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				axios({
                    data: {
                        no: app.selected
                    },

					method: 'post',
					url: axios.defaults.baseURL+'admin/getallorders/po?page='+page,
					headers: headers
				}).then(function (response) {
                    app.orders = response.data.orders;                     
					console.log(app.orders);
					app.isLoading = false;
					}).catch(function(error){
                        console.log(error);
                    })
            },
            
            getOrders(){
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                // event.preventDefault();
                axios({
                    data: {
                        no: app.selected
                    },
                    method: 'post',
                    url: axios.defaults.baseURL+'admin/getallorders/po',
                    headers: headers
                }).then(function (response) {
                    app.orders = response.data.orders;                        
					console.log(app.orders);
					app.isLoading = false;
                    }).catch(function(error){
                        console.log(error);
                    })
            },

            changePages(){
                let app = this;
                app.getResults();
            },

            purchaseSet(id){
                // console.log(id);
                var selectedValue = $("#p-text-"+id).val();
                // var selectedUnit = $("#p-order-"+id).val();
                // console.log(selectedCountry);
                console.log(selectedValue);
                // var amount = selectedValue+selectedUnit;

                let app = this;
				var headers = {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				axios({
                    data: {
                        id: id,
                        purchase_price: selectedValue,
                    },

					method: 'post',
					url: axios.defaults.baseURL+'admin/update/puchase/price',
					headers: headers
				}).then(function (response) {

                    app.purchase_price = response;                      
                    console.log(app.purchase_price);
                    app.getResults();
					app.isLoading = false;
					}).catch(function(error){
                        console.log(error);
                })

            },

            noteSet(id){
                // console.log(id);
                var selectedValue = $("#p-textarea-"+id).val();
                // var selectedUnit = $("#p-order-"+id).val();
                // console.log(selectedCountry);
                console.log(selectedValue);
                // var amount = selectedValue+selectedUnit;

                let app = this;
				var headers = {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				axios({
                    data: {
                        id: id,
                        note: selectedValue,
                    },

					method: 'post',
					url: axios.defaults.baseURL+'admin/update/note',
					headers: headers
				}).then(function (response) {

                    app.note = response;                      
                    console.log(app.note);
                    app.getResults();
					app.isLoading = false;
					}).catch(function(error){
                        console.log(error);
                })

            },

            changeStatus(order_id){
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                };

                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/update/po/orderstatus/'+order_id,
                    headers: headers
                })
                .then(function (response) {
                // console.log(response);
                //location.reload();
                $("tr#"+order_id).remove();
                app.status = response.data.status;
                // console.log(app.status);
                })
                .catch(function(error) {
                    console.log('an error occured ' + error);
                });
            },
        }
    };
</script>
