<template>
    <div>
<Header></Header>
    <div class="main-panel">
        <div class="content">
            <div class="page-inner">
                <div class="page-header">
					<h4 class="page-title">Users</h4>
					<ul class="breadcrumbs">
						<li class="nav-home">
							<a href="#">
								<i class="flaticon-home"></i>
							</a>
						</li>
						<li class="separator">
							<i class="flaticon-right-arrow"></i>
						</li>
						<li class="nav-item">
							<a href="#">Users</a>
						</li>
					</ul>
				</div>


                <loading :active.sync="isLoading" :color="color" :is-full-page="fullPage"></loading>
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="d-flex align-items-center">
                                    <h4 class="card-title">Users</h4>
                                    <button class="btn btn-primary btn-round ml-auto" data-toggle="modal" data-target="#addUsers">
                                        <i class="fa fa-plus"></i>
                                        Add Users
                                    </button>
                                </div>
                            </div>
                            <div class="card-body">

                                <!-- Modal User Access -->
                                <div class="modal fade" :class="{ in: modalShown }" id="userAccess" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header no-bd">
                                                <h5 class="modal-title">
                                                    <span class="fw-mediumbold">
                                                    User Access</span> 
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form autocomplete="off" @submit.prevent="userAccess" v-if="!success">
                                            <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group form-group-default">
                                                                <input type="checkbox" v-model.number="check_customers">Customers<br>
                                                                <input type="checkbox" v-model.number="check_fees">Fees<br>
                                                                <input type="checkbox" v-model.number="check_orders">Orders<br>
                                                                <input type="checkbox" v-model.number="check_products">Products<br>
                                                                <input type="checkbox" v-model.number="check_users">Users<br>
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="modal-footer no-bd">
                                                <button type="submit" id="addUserRowButton" class="btn btn-primary">Update</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Add Users -->
                                <div class="modal fade addUsers" :class="{ in: modalShown }" id="addUsers" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header no-bd">
                                                <h5 class="modal-title">
                                                    <span class="fw-mediumbold">
                                                    Add User</span> 
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form autocomplete="off" @submit.prevent="addUser" v-if="!success">
                                            <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group form-group-default">
                                                                <input id="userId" type="hidden" name="userId" class="form-control" v-model="userId">
                                                                <label>Name</label>
                                                                <input id="name" type="text" v-model="name" class="form-control" placeholder="Name" required>
                                                            </div>
                                                            <div class="form-group form-group-default">
                                                                <label>Email</label>
                                                                <input id="email" type="email" v-model="email" class="form-control" placeholder="Email" required>
                                                            </div>
                                                            <div class="form-group form-group-default">
                                                                <label>New Password</label>
                                                                <input id="password" type="password" v-model="password" class="form-control" placeholder="Password" required>
                                                            </div>
                                                            <div class="form-group form-group-default">
                                                                <label>Role Id</label>
                                                                
                                                                <select class="form-control" id="status" v-model='role'>
                                                                    <option v-for='dduser in ddusers' :value='dduser.id'>{{dduser.role}}</option>
                                                                </select>
                                                                
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="modal-footer no-bd">
                                                <button type="submit" id="addUserRowButton" class="btn btn-primary">Update</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>


                                <!-- Modal Edit Profile -->
                                <div class="modal fade editProfile" :class="{ in: modalShown }" id="editProfile" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header no-bd">
                                                <h5 class="modal-title">
                                                    <span class="fw-mediumbold">
                                                    Edit User</span> 
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form autocomplete="off" @submit.prevent="editUser" v-if="!success">
                                            <div class="modal-body">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group form-group-default">
                                                                <input id="userId" type="hidden" name="userId" class="form-control" v-model="id">
                                                                <label>Name</label>
                                                                <input id="name" type="text" v-model="idname" class="form-control" placeholder="Name" required>
                                                            </div>
                                                            <div class="form-group form-group-default">
                                                                <label>Email</label>
                                                                <input id="email" type="email" v-model="idemail" class="form-control" placeholder="Email" required>
                                                            </div>
                                                            <div class="form-group form-group-default">
                                                                <label>Role Id</label>
                                                                <select class="form-control" id="status" v-model='idrole'>
                                                                    <option v-for='dduser in ddusers' :value='dduser.id'>{{dduser.role}}</option>
                                                                </select>
                                                            </div>
                                                            
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="modal-footer no-bd">
                                                <button type="submit" id="addUserRowButton" class="btn btn-primary">Update</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <!-- Modal Reset Password -->
									<div class="modal fade resetPassword" :class="{ in: modalShown }" id="resetPassword" tabindex="-1" role="dialog" aria-hidden="true">
										<div class="modal-dialog" role="document">
											<div class="modal-content">
												<div class="modal-header no-bd">
													<h5 class="modal-title">
														<span class="fw-mediumbold">
														Reset Password</span> 
													</h5>
													<button type="button" class="close" data-dismiss="modal" aria-label="Close">
														<span aria-hidden="true">&times;</span>
													</button>
												</div>
												<form autocomplete="off" @submit.prevent="resetPassword" v-if="!success">
												<div class="modal-body">
														<div class="row">
															<div class="col-sm-12">
																<div class="form-group form-group-default">
																	<input id="userId" type="hidden" name="userId" class="form-control" v-model="userId">
																	<label>Password</label>
																	<input id="password" type="password" v-model="password" class="form-control" placeholder="Reset Password" required>
																</div>
															</div>
														</div>
												</div>
												<div class="modal-footer no-bd">
													<button type="submit" id="addRowButton" class="btn btn-primary">Update</button>
													<button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
												</div>
												</form>
											</div>
										</div>
									</div>

                                <!-- Modal Delete User -->
                                <div class="modal fade deleteModal" :class="{ in: modalShown }" id="deleteModal" tabindex="-1" role="dialog" aria-hidden="true">
                                    <div class="modal-dialog" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header no-bd">
                                                <h5 class="modal-title">
                                                    <span class="fw-mediumbold">
                                                    Confirmation</span> 
                                                </h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <form autocomplete="off" @submit.prevent="deleteUser" v-if="!success">
                                            <div class="modal-body" style="display: none;">
                                                    <div class="row">
                                                        <div class="col-sm-12">
                                                            <div class="form-group form-group-default">
                                                                <input id="userId" type="hidden" name="userId" class="form-control" v-model="deleteId">
                                                            </div>
                                                        </div>
                                                    </div>
                                            </div>
                                            <div class="modal-footer no-bd">
                                                <button type="submit" id="deleteButton" class="btn btn-primary">Delete</button>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">Close</button>
                                            </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>

                                <div class="table-responsive">
                                    <table id="add-row" class="display table table-striped table-hover" >
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Password</th>
                                                <th>Role</th>
                                                <th style="width: 10%">Action</th>
                                            </tr>
                                        </thead>
                                        <tfoot>
                                            <tr>
                                                <th>Name</th>
                                                <th>Email</th>
                                                <th>Password</th>
                                                <th>Role</th>
                                                <th>Action</th>
                                            </tr>
                                        </tfoot>
                                        <tbody>
                                            <tr v-for="user in users.data">
                                                <td>{{user.name}}</td>
                                                <td>{{user.email}}</td>
                                                <td>{{user.plain_password}}</td>
                                                <td>{{user.role.role}}</td>
                                                <td>
                                                    <div class="form-button-action">
                                                        <button class="btn btn-link btn-primary" v-if="user.role_id != 1" id="userAccess" data-toggle="modal" v-on:click="jq(user.id); getUserAccess()" :data-id="user.id" data-target="#userAccess" title="User Access">
                                                            <i class="fa fa-universal-access" aria-hidden="true"></i>
                                                        </button>

                                                        <button class="btn btn-link btn-primary mybtn" v-if="user.role_id != 1" id="editProfile" data-toggle="modal" v-on:click="jq(user.id); getUserById(user.id);" :data-id="user.id" data-target="#editProfile" title="Edit Profile">
                                                            <i class="far fa-edit"></i>
                                                        </button>

                                                        <button class="btn btn-link btn-primary mybtn" v-if="user.role_id != 1" id="resetPassword" data-toggle="modal" v-on:click="jq(user.id); getUserById(user.id);" :data-id="user.id" data-target="#resetPassword" title="Reset Password">
                                                            <i class="fa fa-key" aria-hidden="true"></i>
                                                        </button>

                                                        <button type="button" v-if="user.role_id != 1" data-toggle="modal" title="Delete" :data-id="user.id" v-on:click="jqDel(user.id)" id="deleteModal" data-target="#deleteModal" class="btn btn-link btn-danger btn-lg" data-original-title="Delete">
                                                            <i class="fa fa-trash" aria-hidden="true"></i>
                                                        </button>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12 col-md-5">
                                    <!-- <div class="dataTables_info" id="add-row_info" role="status" aria-live="polite">Showing 1 to 5 of 10 entries
                                    </div> -->
                                </div>
                                <div class="col-sm-12 col-md-7">
                                    <div class="dataTables_paginate paging_simple_numbers" id="add-row_paginate">
                                        <pagination :data="users" @pagination-change-page="getResults"></pagination>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
        <footer class="footer">
            <div class="container-fluid">
                <nav class="pull-left">
                    <ul class="nav">
                        <li class="nav-item">
                            <a class="nav-link" href="https://www.themekita.com">
                                ThemeKita
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Help
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">
                                Licenses
                            </a>
                        </li>
                    </ul>
                </nav>
                <div class="copyright ml-auto">
                    2018, made with <i class="fa fa-heart heart text-danger"></i> by <a href="https://www.themekita.com">ThemeKita</a>
                </div>
            </div>
        </footer>
    </div>
    </div>
</template>

<script>
    import Header from './Static/Header';
    import Loading from 'vue-loading-overlay';
	import 'vue-loading-overlay/dist/vue-loading.css';
	import JQuery from 'jquery';
	let $ = JQuery;
    import axios from 'axios';
    export default {
        components: {
            Header,
            Loading
        },
        users: {},
        created() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/login');
			}
			else{
				app.getUsers();
				// app.getResults();
			}

        },
        mounted() {
			let app = this;
            if(!localStorage.getItem('token')){
                app.$router.push('/login');
			}
			else{
                app.getResults();
                app.roleDropdown();
			}
        },
        data() {
            return {
                users: {},
                idUser: {},
                accessLists: {},
				next_page: '',
				userId: '',
				local_id: '',
				password: '',
                deleteId: '',
                name: '',
                email: '',
                password: '',
                role: '',
                id: '',
                idname: '',
                idemail: '',
                idrole: '',
                idpassword: '',
                ddusers: '',
                selected: '',

                check_customers: false,
                check_fees: false,
                check_orders: false,
                check_products: false,
                check_users: false,

				color: "#1269db",
				isLoading: true,
				fullPage: true,
				modalShown: false,
                error: false,
                success: false,
            }
        },

        methods: {
            getResults(page = 1) {
				let app = this;
				var headers = {
					'Content-Type': 'application/json',
					'Authorization': 'Bearer ' + localStorage.getItem('token')
				}
				axios({
					method: 'get',
					url: axios.defaults.baseURL+'admin/get/all/users?page='+page,
					headers: headers
				}).then(function (response) {
					app.users = response.data.users;                      
					// console.log(response);
					app.isLoading = false;
					})
			},

            getUsers(){
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                // event.preventDefault();
                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/get/all/users',
                    headers: headers
                }).then(function (response) {
					console.log(response.data.users);
					app.users = response.data.users;                        
					app.isLoading = false;
                    })
            },

            jqDel: function(id) {

				localStorage.setItem('delete_id', id);
				// alert(id);
				var local_id = localStorage.getItem('delete_id');
				this.deleteId = local_id;
				this.modalShown = false;

			},
            
            deleteUser(event){
                let app = this;
                var del_id = localStorage.getItem('delete_id');
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/delete/user/'+del_id,
                    headers: headers
                }).then(function (response) {
                    app.modalShown = true;
                    $("div.modal-backdrop").remove();
					console.log(response.data.data);
                    // app.users = response.data.users;  
                    app.getUsers();                      
					app.isLoading = false;
                    })
            },

            addUser(){
                let app = this;
                var del_id = localStorage.getItem('delete_id');
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }
                event.preventDefault();
                axios({
                    data: {
                        name: app.name,
                        email: app.email,
                        password: app.password,
                        plain_password: app.password,
                        role_id: app.role,
                        },

                    method: 'post',
                    url: axios.defaults.baseURL+'admin/adduser',
                    headers: headers,
                }).then(function (response) {
                    app.modalShown = true;
                    $("div.modal-backdrop").remove();
					console.log(response.data);
                    // app.users = response.data.users;  
                    app.getUsers();               
					app.isLoading = false;
                    })
            },

            jq: function(id) {

				localStorage.setItem('user_id', id);
                var local_id = localStorage.getItem('user_id');
                // alert(local_id);
				this.id = local_id;
				this.password = '';
				this.modalShown = false;

            },
            
            resetPassword(event){
				let app = this;
				app.isLoading = true;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                event.preventDefault();
                axios({
                    data: {
                        id: app.id,
                        password: app.password,
                        plain_password: app.password,
                    },

                    method: 'post',
                    url: axios.defaults.baseURL+'admin/change/password',
                    headers: headers,

                }).then(function(data){
					// console.log('Password updated');
					try {
						app.modalShown = true;
						$("div.modal-backdrop").remove();
                        $("body").removeClass('modal-open');
						event.target.reset();
						app.getUsers();
						app.isLoading = false;
						
					} catch (error) {
						console.log(error);
					}

                }).catch(function (response) {
					
					console.log('catch');
						
				});
            },

            getUserById(id){
                let app = this;
                // var id = localStorage.getItem('user_id');
                // var del_id = localStorage.getItem('delete_id');
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/get/user/'+id,
                    headers: headers
                }).then(function (response) {
                    console.log(response.data.user);
                    app.idname = response.data.user.name;
                    app.idemail = response.data.user.email;
                    app.idrole = response.data.user.role.id;
                    // app.users = response.data.users;  
                    app.getUsers();                      
					// app.isLoading = false;
                    })
            },

            editUser(){
                let app = this;
				app.isLoading = true;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                event.preventDefault();
                axios({
                    data: {
                        id: app.id,
                        name: app.idname,
                        email: app.idemail,
                        role_id: app.idrole
                    },

                    method: 'post',
                    url: axios.defaults.baseURL+'admin/edit/user',
                    headers: headers,

                }).then(function(data){
					// console.log('Password updated');
					try {
						app.modalShown = true;
						$("div.modal-backdrop").remove();
                        $("body").removeClass('modal-open');
						app.getUsers();
						app.isLoading = false;

					} catch (error) {
						console.log(error);
					}

                }).catch(function (response) {
					
					console.log('catch');
						
				});
            },

            roleDropdown(){
                let app = this;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/get/role/dropdown',
                    headers: headers
                }).then(function (response) {
                    // console.log(response.data.role);
                    app.ddusers = response.data.role;
 
                    // app.getUsers();                      
					// app.isLoading = false;
                })
            },

            getUserAccess(){
                let app = this;
                var id = app.id;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                axios({
                    method: 'get',
                    url: axios.defaults.baseURL+'admin/user/access/'+id,
                    headers: headers
                }).then(function (response) {
                    app.accessLists = response.data.list['0'];
                    app.check_customers = app.accessLists.customers;
                    app.check_fees = app.accessLists.fees;
                    app.check_orders = app.accessLists.orders;
                    app.check_products = app.accessLists.products;
                    app.check_users = app.accessLists.users;
                    // console.log(app.accessLists);
                })
            },

            userAccess(){
                let app = this;
                console.log(Number(app.check_customers));
				app.isLoading = true;
                var headers = {
                    'Content-Type': 'application/json',
                    'Authorization': 'Bearer ' + localStorage.getItem('token')
                }

                event.preventDefault();
                axios({
                    data: {
                        user_id: app.id,
                        customers: Number(app.check_customers),
                        fees: Number(app.check_fees),
                        orders: Number(app.check_orders),
                        products: Number(app.check_products),
                        users: Number(app.check_users),
                    },

                    method: 'post',
                    url: axios.defaults.baseURL+'admin/user/access',
                    headers: headers,

                }).then(function(data){
					// console.log('Password updated');
					try {
						app.modalShown = true;
						$("div.modal-backdrop").remove();
                        $("body").removeClass('modal-open');
						app.getUsers();
						app.isLoading = false;

					} catch (error) {
						console.log(error);
					}

                }).catch(function (response) {
					
					console.log('catch');
						
				});
            }
        }
    };
</script>